.WithRainbowFrame {
    width: 500px;
    height: 300px;
    font-size: 30px;
    font-family: Impact;
}
.WithRainbowFrame div {
    border: 5px solid white;
    margin: 10px;
    text-align: center;
}